{{template "head.html" .}}
<div class="page">
    {{template "sidebar.html" .}}
    <div class="page-wrapper">
        {{template "header.html" .}}
        <div class="page-body">
            <div class="container-wide">
                <div class="row" data-masonry='{"percentPosition": true }'>
                {{range $i, $image := .Images }}
                    <div class="card m-2 p-0" style="width: 150px; height: 150px;">
                    <a href="/schematics/{{ $image.Name }}">
                        <img class="rounded-3 border lazy"
                             data-src="/api/files/schematics/{{ $image.ID }}/{{ $image.Image }}?thumb=150x150"
                             src="/assets/x/150x150.png" alt="{{ $image.Title }}">
                    </a>
                    </div>
                {{end}}
                </div>
                <div class="row">
                    <div class="col-md-6 pt-4 m-auto">
                        <div class="alert alert-info" role="alert">
                            Reload the page or <a href="/explore">click here</a> for 1000 random images.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer.html" .}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" defer crossorigin="anonymous"></script>
</div>
{{template "foot.html" .}}
