<div id="tab-panel-{{ .Tab }}" class="tab-panel">
    <div class="row g-3">
        {{ range .Items }}
        {{template "schematic_card_small.html" .}}
        {{ end }}
    </div>
    {{ if or .HasPrev .HasNext }}
    <div class="d-flex justify-content-center mt-4">
        <ul class="pagination">
            {{ if .HasPrev }}
            <li class="page-item">
                <a class="page-link" href="{{ .PrevURL }}" hx-get="{{ .PrevURL }}" hx-target="#tab-panel-{{ .Tab }}" hx-swap="outerHTML" hx-push-url="false">{{ T .Language "Previous" }}</a>
            </li>
            {{ else }}
            <li class="page-item disabled"><span class="page-link">{{ T .Language "Previous" }}</span></li>
            {{ end }}
            <li class="page-item disabled"><span class="page-link">{{ T .Language "Page" }} {{ .Page }}</span></li>
            {{ if .HasNext }}
            <li class="page-item">
                <a class="page-link" href="{{ .NextURL }}" hx-get="{{ .NextURL }}" hx-target="#tab-panel-{{ .Tab }}" hx-swap="outerHTML" hx-push-url="false">{{ T .Language "Next" }}</a>
            </li>
            {{ else }}
            <li class="page-item disabled"><span class="page-link">{{ T .Language "Next" }}</span></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>
