{{template "head.html" .}}
<div class="page">
    {{template "sidebar.html" .}}
    <div class="page-wrapper">
        {{template "header.html" .}}
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">
                    {{range .Schematics }}
                    {{ template "schematic_card.html" . }}
                    {{end}}
                </div>
            </div>
        </div>
        {{template "footer.html" .}}
    </div>
</div>
{{template "foot.html" .}}