{{ template "head.html" . }}
<div class="page">
    {{ template "sidebar.html" . }}
    <div class="page-wrapper">
        {{template "header.html" .}}
        <div class="page-body">
            <div class="container-xl">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-9">
                        <div class="card card-lg">
                            <div class="card-body markdown">
                                <h3>General Rules</h3>
                                <ol>
                                    <li>Lurk Moar; Understand Post Formatting Before Uploading.</li>
                                    <li>Post Your Own Content, If Not Then Provide Sufficient Credit.</li>
                                    <li>If Your Schematic Requires Dependencies, List Them.</li>
                                    <li>All writing MUST be in the English language.</li>
                                    <li>No low effort posts, all posts subject to removal at my discretion.</li>
                                    <li>Be Courteous In The Comment Section.</li>
                                    <li>Do Not Create An Account Impersonating Others.</li>
                                    <li>Test Your Schematic Before Uploading It.</li>
                                    <li>Thumbnail Images Must Contain The Schematic.</li>
                                    <li>No unauthorized redistribution of uploaded content.</li>
                                </ol>
                                <h3>Bannable Rules (All Bans Are Final And Are Linked to IP Addresses, illegal activity
                                    will be reported to law enforcement)</h3>
                                <ol>
                                    <li>Do Not Inflate Or Deflate Schematic Ratings.</li>
                                    <li>No NSFW Content.</li>
                                    <li>No Advertising. (Ex. Linking To A Discord Server)</li>
                                    <li>Attempting To Upload A Virus.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{template "footer.html" .}}
        </div>
    </div>
    {{template "foot.html" .}}
</div>
