{{template "head.html" .}}
<link rel="stylesheet" href="/libs/star-rating.js/dist/star-rating.min.css">
<link rel="stylesheet" href="/libs/plyr/dist/plyr.css">
<div class="page">
    {{template "sidebar.html" .}}
    <div class="page-wrapper">
        {{template "header.html" .}}
        <div class="page-body">
            <div class="container-xl">
                <div class="row g-2 g-md-3">
                    <div class="col-lg-7">
                        <div class="row row-cards">
                            <div class="col-sm-12 col-lg-12">
                                <div class="card card-sm mb-4">
                                    <a data-fslightbox="gallery"
                                       href="/api/files/schematics/{{ .Schematic.ID }}/{{ .Schematic.FeaturedImage }}">
                                        <img
                                                src="/api/files/schematics/{{ .Schematic.ID }}/{{ .Schematic.FeaturedImage }}?thumb=1920x1080"
                                                class="card-img-top">
                                    </a>
                                    <div class="card-body">
                                        {{ if .Schematic.HasGallery}}
                                        <div class="row row-cols-6 g-3 mb-2">
                                            {{ range .Schematic.Gallery }}
                                            <div class="col">
                                                <a data-fslightbox="gallery"
                                                   href="/api/files/schematics/{{ $.Schematic.ID }}/{{ . }}">
                                                    <div class="img-responsive img-responsive-1x1 rounded border"
                                                         style="background-image: url('/api/files/schematics/{{ $.Schematic.ID }}/{{ . }}?thumb=150x150')"></div>
                                                </a>
                                            </div>
                                            {{ end }}
                                        </div>
                                        {{ end }}
                                        <div class="row">
                                            <div class="col">
                                                <h3 class="card-title">Description</h3>
                                            </div>
                                            <div class="col-auto pt-2">
                                                <select id="rating-default">
                                                    <option value="">Select a rating</option>
                                                    <option value="5">Excellent</option>
                                                    <option value="4" selected>Very Good</option>
                                                    <option value="3">Average</option>
                                                    <option value="2">Poor</option>
                                                    <option value="1">Terrible</option>
                                                </select>
                                            </div>
                                            <div class="col-auto">
                                                <a href="{{ .Schematic.SchematicFile }}" class="btn btn-primary"
                                                   id="download-btn">
                                                    Download
                                                </a>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div>{{ .Schematic.HTMLContent }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cards mb-4">
                            <div class="col-sm-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="datagrid">
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Mod Version</div>
                                                <div class="datagrid-content">{{ .Schematic.CreatemodVersion }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Game Version</div>
                                                <div class="datagrid-content">{{ .Schematic.MinecraftVersion }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Category</div>
                                                <div class="datagrid-content">
                                                    <div class="avatar-list avatar-list-stacked">
                                                        {{ range .Schematic.Categories }}
                                                        <a href="/schematics/category/{{ .Key }}">
                                                            <span class="badge badge-outline text-blue">{{ .Name }}</span>
                                                        </a>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Uploaded</div>
                                                <div class="datagrid-content" data-bs-toggle="tooltip" data-bs-placement="top"
                                                     title="{{ .Schematic.CreatedFormatted }}">{{ .Schematic.CreatedHumanReadable }}</div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Author</div>
                                                <div class="datagrid-content">
                                                    <div class="d-flex align-items-center">
                                                        {{ if .Schematic.Author.HasAvatar }}
                                                        <img class="avatar avatar-xs me-2 rounded" src="{{ .Schematic.Author.Avatar }}"></img>
                                                        {{ end }}
                                                        <a href="/author/{{ .Schematic.Author.Username | ToLower }}">{{
                                                            .Schematic.Author.Username }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Views</div>
                                                <div class="datagrid-content">{{ .Schematic.Views }}</div>
                                            </div>
                                            {{ if .Schematic.HasRating }}
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Rating</div>
                                                <div class="datagrid-content">
                                                    {{ if eq .Schematic.RatingCount 0 }}
                                                    No rating
                                                    {{ else }}
                                                    {{ .Schematic.Rating }} based on {{ .Schematic.RatingCount }}
                                                    ratings
                                                    {{ end }}
                                                </div>
                                            </div>
                                            {{ end }}
                                            {{ if .Schematic.HasTags }}
                                            <div class="datagrid-item">
                                                <div class="datagrid-title">Tags</div>
                                                <div class="datagrid-content">
                                                    <div class="avatar-list avatar-list-stacked">
                                                        {{ range .Schematic.Tags }}
                                                        <a href="/search/?tag={{ .Key }}">
                                                            <span class="badge badge-outline text-blue">{{ .Name }}</span>
                                                        </a>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                        {{ if .Schematic.HasDependencies }}
                                        <div class="col-sm-12 col-lg-12 mt-4">
                                            <h3 class="card-title">Dependencies</h3>
                                            <div>
                                                {{ .Schematic.HTMLDependencies }}
                                            </div>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cards mb-4">
                            <div class="col-sm-12 col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Comments</h3>
                                        {{range .Comments}}
                                        <div class="col-12 mb-2">
                                            <div class="card card-sm{{ if eq .Indent 1 }} ms-md-4{{end }}">
                                                <div class="card-body">
                                                    <div class="text-secondary">
                                                        {{ .Content }}
                                                    </div>
                                                    <div class="mt-4">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col-1">
                                                                        <div class="avatar-list avatar-list-stacked">
                                                                            {{ if .AuthorHasAvatar }}
                                                                            <span class="avatar avatar-xs rounded"
                                                                                  style="background-image: url('{{ .AuthorAvatar }}')"></span>
                                                                            {{ end }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <a href="/author/{{ .AuthorUsername }}"
                                                                           class="link-blue">
                                                                            {{ .Author }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <a href="#{{ .ID }}" class="link-muted"
                                                                   data-bs-toggle="tooltip" data-bs-placement="top"
                                                                   title="{{ .Published }}">
                                                                    <!-- Download SVG icon from http://tabler.io/icons/icon/calendar -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none"
                                                                         stroke="currentColor" stroke-width="2"
                                                                         stroke-linecap="round" stroke-linejoin="round"
                                                                         class="icon icon-1">
                                                                        <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"/>
                                                                        <path d="M16 3v4"/>
                                                                        <path d="M8 3v4"/>
                                                                        <path d="M4 11h16"/>
                                                                        <path d="M11 15h1"/>
                                                                        <path d="M12 15v3"/>
                                                                    </svg>
                                                                    {{ .Created }}
                                                                </a>
                                                            </div>
                                                            {{ if .IsAuthenticated }}
                                                            <div class="col-auto">
                                                                <a href="#tinymce-comment"
                                                                   onclick="commentReply('{{ .ID }}', '{{ .Author }}')"
                                                                   class="link">
                                                                    Reply
                                                                </a>
                                                            </div>
                                                            {{ end }}
                                                            <div class="col-auto">
                                                                <a id="{{ .ID }}" href="#{{ .ID }}" class="link-muted">
                                                                    <!-- Download SVG icon from http://tabler.io/icons/icon/share -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none"
                                                                         stroke="currentColor" stroke-width="2"
                                                                         stroke-linecap="round" stroke-linejoin="round"
                                                                         class="icon icon-1">
                                                                        <path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                                                                        <path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                                                                        <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"/>
                                                                        <path d="M8.7 10.7l6.6 -3.4"/>
                                                                        <path d="M8.7 13.3l6.6 3.4"/>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}

                                        {{ if .IsAuthenticated }}
                                        <div class="col-12 pt-2" id="comment-section">
                                            <div class="mb-12">
                                                <label id="leave-comment-label" class="form-label">Leave a
                                                    comment</label>
                                                <textarea id="tinymce-comment"
                                                          placeholder="comment text goes here"></textarea>
                                            </div>
                                            <div class="mb-12">
                                                <button class="btn btn-primary w-100" id="post-comment-btn">
                                                    Post Comment
                                                </button>
                                                <input type="hidden" name="parent" id="parent-comment" value="">
                                            </div>
                                            <div class="mb-12">
                                                <div id="comment-success" class="alert alert-important alert-success"
                                                     style="display: none;" role="alert">
                                                    <div class="d-flex">
                                                        <div>
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 class="icon alert-icon" width="24" height="24"
                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                 stroke="currentColor" fill="none"
                                                                 stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                                <path d="M5 12l5 5l10 -10"/>
                                                            </svg>
                                                        </div>
                                                        <div>
                                                            Comment Posted!
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {{ else }}
                                        <h4>You must be <a href="/login">logged in</a> to leave a comment.</h4>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5">
                        {{ if eq .Schematic.Video "" }}
                        {{ else }}
                        <div class="card mb-4">
                            <div id="player-youtube" data-plyr-provider="youtube"
                                 data-plyr-embed-id="{{ .Schematic.Video }}"></div>
                        </div>
                        {{ end }}
                        <div class="card mb-4">
                            <a href="https://bisecthosting.com/SCHEMATIC">
                                <img src="https://www.bisecthosting.com/partners/custom-banners/a18a4d46-d49b-4b1e-82d1-c75815722645.webp"
                                     class="card-img-top">
                            </a>
                        </div>
                        {{ if .AuthorHasMore }}
                        <div class="col-12 mb-4">
                            <h3>More From <a
                                    href="/author/{{ .Schematic.Author.Username | ToLower }}">{{
                                .Schematic.Author.Username }}</a></h3>

                            <div class="row row-cards">
                                {{range .FromAuthor }}
                                {{ template "schematic_card_full.html" . }}
                                {{end}}
                            </div>
                        </div>
                        {{ end }}
                        <div class="col-12 mb-4">
                            <h3>Similar Schematics</h3>
                            <div class="row row-cards">
                                {{range .Similar }}
                                {{ template "schematic_card_full.html" . }}
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/libs/fslightbox/index.js" defer></script>
        <script src="/libs/plyr/dist/plyr.min.js" defer></script>
        <script type="module"  src="tinymce/tinymce.min.js" defer></script>
        <script src="/libs/star-rating.js/dist/star-rating.min.js" defer></script>
        {{template "footer.html" .}}
    </div>
</div>
{{template "foot.html" .}}

{{ if eq .Schematic.Video "" }}
{{ else }}
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
        window.Plyr && (new Plyr('#player-youtube'));
    });
    // @formatter:on
</script>
{{ end }}
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
        let options = {
            license_key: "gpl",
            selector: '#tinymce-comment',
            height: 300,
            menubar: false,
            statusbar: false,
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'charmap', 'preview', 'anchor',
                'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic | ' +
                'link | bullist numlist outdent indent | ' +
                'removeformat',
            content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; backgroundColor = #353838; }'
        }
        if (localStorage.getItem("createmodTheme") === 'dark') {
            options.skin = 'tinymce-5-dark';
            options.content_css = 'dark';
        }
        tinyMCE.baseURL ="/libs/tinymce";
        tinyMCE.init(options);
    })
    // @formatter:on
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const rating = new StarRating('#rating-default', {
            tooltip: false,
            clearable: false,
            stars: function (el, item, index) {
                el.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon gl-star-full icon-1"><path d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" /></svg>`;
            },
            classNames: {}
        })

        var tooltip = new bootstrap.Tooltip(document.querySelector('.gl-star-rating--stars'), {
            boundary: document.body, // or document.querySelector('#boundary')
            title: "Rating saved!",
            trigger: 'manual',
        })


        document.querySelector('.gl-star-rating--stars').addEventListener('click', async function (e) {
            if (pb.authStore.model === undefined) {
                alert("You need to be logged in to rate schematics")
            } else {
                for (const span of this.children) {
                    if (span === e.target) {
                        const formData = new FormData();
                        formData.append("schematic", '{{ .Schematic.ID }}')
                        formData.append("user", pb.authStore.model.id)
                        formData.append("rating", rating.widgets[0].values[rating.widgets[0].indexActive].value)
                        const createdRecord = await pb.collection('schematic_ratings').create(formData);
                        if (createdRecord.code !== undefined && createdRecord.code !== 200) {
                            alert("You need to be logged in to rate schematics")
                        } else {
                            tooltip.show()
                            setTimeout(function () {
                                tooltip.hide()
                            }, 2000);
                        }
                    }
                }
            }
        });
    })
</script>
{{ if .IsAuthenticated }}
<script>
    function commentReply(id, username) {
        if (id == null) {
            return false
        }
        let leaveCommentLabel = document.getElementById('leave-comment-label')
        let postCommentButton = document.getElementById('post-comment-btn')
        leaveCommentLabel.scrollIntoView({
            alignToTop: true,
            behavior: 'smooth'
        });
        leaveCommentLabel.innerHTML = "Reply to " + username
        postCommentButton.innerHTML = "Post Reply"
        document.getElementById("parent-comment").value = id
        return false;
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('post-comment-btn').addEventListener("click", async function (e) {
            if (pb.authStore.model.id === undefined) {
                alert("You need to be logged in to comment")
                return false;
            }
            document.getElementById("post-comment-btn").disabled = true
            const formData = new FormData();
            formData.append("content", tinyMCE.activeEditor.getContent())
            formData.append("author", pb.authStore.model.id)
            formData.append("schematic", '{{ .Schematic.ID }}')
            formData.append("parent", document.getElementById("parent-comment").value)

            let successAlert = document.getElementById("comment-success")
            try {
                const createdRecord = await pb.collection('comments').create(formData);
                if (createdRecord.code !== undefined && createdRecord.code !== 200) {
                    div = document.createElement('div');
                    div.classList.add("invalid-feedback")
                    div.style.display = "block"
                    div.innerText = "An unexpected error occurred, please try again"
                    document.getElementById("post-comment-btn").parentNode.insertAdjacentElement("beforeend", div)
                    document.getElementById("post-comment-btn").disabled = false
                } else {
                    successAlert.style.display = "block"
                    setTimeout(function () {
                        window.location.reload(1);
                    }, 1000);
                }
            } catch (e) {
                console.log(e)
                div = document.createElement('div');
                div.classList.add("invalid-feedback")
                div.style.display = "block"
                div.innerText = "An unexpected error occurred, please try again"
                document.getElementById("post-comment-btn").parentNode.insertAdjacentElement("beforeend", div)
                document.getElementById("post-comment-btn").disabled = false
            }
        });
    });
</script>
{{ end }}