{{template "head.html" .}}
<div class="page">
    {{template "sidebar.html" .}}
    <div class="page-wrapper">
        {{template "header.html" .}}
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">
                    {{range .Schematics }}
                        {{ template "schematic_card_small.html" . }}
                    {{end}}
                </div>
                <div class="row">
                    <div class="col pt-4 m-auto">
                        <div class="alert alert-info" role="alert">
                            Find more schematics via the <a href="/search">Search page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer.html" .}}
    </div>
</div>
{{template "foot.html" .}}