{{ template "head.html" . }}
<link rel="stylesheet" href="/libs/tom-select/dist/css/tom-select.min.css">
<div class="page">
    {{ template "sidebar.html" . }}
    <div class="page-wrapper">
        {{template "header.html" .}}
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Upload Schematic</h3>
                                {{ if .IsAuthenticated }}
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label required">Title</label>
                                            <input type="text" id="schematic-title" class="form-control" name="title"
                                                   placeholder="Schematic Title">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Description</label>
                                            <textarea id="tinymce-schematic"
                                                      placeholder="Describe your schematic and include any details on how to get it running."></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-12 col-lg-6">
                                                <label class="form-label required">Category</label>
                                                <select name="category" id="schematic-category" class="form-select">
                                                    {{ range .Categories}}
                                                    <option value="{{ .ID }}">{{ .Name }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-12 col-lg-6">
                                                <label class="form-label">Tags</label>
                                                <select type="text" class="form-select" placeholder="Select tags" id="select-tags" value="" multiple>
                                                    {{ range .Tags}}
                                                    <option value="{{ .ID }}">{{ .Name }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="mb-3 col-md-12 col-lg-6">
                                                <label class="form-label required">Create Version</label>
                                                <select id="create-version" name="" class="form-select">
                                                    {{ range .CreatemodVersions}}
                                                    <option value="{{ .ID }}">{{ .Version }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-12 col-lg-6">
                                                <label class="form-label required">Minecraft Version</label>
                                                <select id="minecraft-version" name="" class="form-select">
                                                    {{ range .MinecraftVersions}}
                                                    <option value="{{ .ID }}">{{ .Version }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Schematic Video</label>
                                            <input id="video" type="text" class="form-control" name="video"
                                                   placeholder="Schematic Video URL">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="mb-3">
                                            <form class="dropzone" id="dropzone-schematic" action="/upload"
                                                  autocomplete="off" novalidate>
                                                <div class="fallback">
                                                    <input name="schematic-file" type="file"/>
                                                </div>
                                                <div class="dz-message">
                                                    <h3 class="dropzone-msg-title">Schematic File</h3>
                                                    <span class="dropzone-msg-desc">Click here or drag the .nbt schematic file</span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="mb-3">
                                            <form class="dropzone" id="dropzone-featured" action="/upload"
                                                  autocomplete="off" novalidate>
                                                <div class="fallback">
                                                    <input name="featured-file" type="file"/>
                                                </div>
                                                <div class="dz-message">
                                                    <h3 class="dropzone-msg-title">Featured Image</h3>
                                                    <span class="dropzone-msg-desc">Click here or drag a screenshot of your build in Minecraft</span>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="mb-3">
                                            <form class="dropzone" id="dropzone-gallery" action="/upload"
                                                  autocomplete="off" novalidate>
                                                <div class="fallback">
                                                    <input name="gallery-file" type="file"/>
                                                </div>
                                                <div class="dz-message">
                                                    <h3 class="dropzone-msg-title">Gallery Images</h3>
                                                    <span class="dropzone-msg-desc">Click here or drag images to showcase your schematic</span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mt-5">
                                        <button class="btn btn-primary w-100" id="upload-schematic-btn">
                                            Upload
                                        </button>
                                        <div id="progress-upload" style="display: none;" class="progress">
                                            <div class="progress-bar bg-green"></div>
                                        </div>
                                        <div id="upload-success" class="alert alert-important alert-success" style="display: none;" role="alert">
                                            <div class="d-flex">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                                                </div>
                                                <div>
                                                    Schematic has been uploaded!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ else }}
                                <h4>You must be <a href="/login">logged in</a> to upload schematics.</h4>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer.html" .}}
    </div>
</div>
<script type="module" src="dropzone/dist/dropzone-min.js" defer></script>
<script type="module"  src="tinymce/tinymce.min.js" defer></script>
<script src="/libs/tom-select/dist/js/tom-select.base.min.js" defer></script>
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
        var el;
        window.TomSelect && (new TomSelect(el = document.getElementById('select-tags'), {
            copyClassesToDropdown: false,
            dropdownParent: 'body',
            controlInput: '<input>',
            render:{
                item: function(data,escape) {
                    if( data.customProperties ){
                        return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                    }
                    return '<div>' + escape(data.text) + '</div>';
                },
                option: function(data,escape){
                    if( data.customProperties ){
                        return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                    }
                    return '<div>' + escape(data.text) + '</div>';
                },
            },
        }));
    });
    // @formatter:on
</script>
<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function () {
        let options = {
            license_key: "gpl",
            selector: '#tinymce-schematic',
            height: 300,
            menubar: false,
            statusbar: false,
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'charmap', 'preview', 'anchor',
                'searchreplace', 'visualblocks', 'code', 'fullscreen',
                'insertdatetime', 'media', 'table', 'code', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic | ' +
                'link | bullist numlist outdent indent | ' +
                'removeformat',
            content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
        }
        if (localStorage.getItem("createmodTheme") === 'dark') {
            options.skin = 'oxide-dark';
            options.content_css = 'dark';
        }
        tinyMCE.baseURL ="/libs/tinymce";
        tinyMCE.init(options);
    })
    // @formatter:on
</script>

<script>
    // @formatter:off
    document.addEventListener("DOMContentLoaded", function() {
        // based on https://stackoverflow.com/a/61357880/1260548
        let dropzoneSchematic = new Dropzone("#dropzone-schematic", {
            url: "/files/upload",
            method: "POST",
            acceptedFiles: '.nbt',
            thumbnailMethod: 'crop',
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: false,
            parallelUploads: 1,
            maxFiles: 1,
        })
        let dropzoneFeatured = new Dropzone("#dropzone-featured", {
            acceptedFiles: 'image/*',
            thumbnailMethod: 'crop',
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: false,
            parallelUploads: 1,
            maxFiles: 1,
        })
        let dropzoneGallery = new Dropzone("#dropzone-gallery", {
            acceptedFiles: 'image/*',
            thumbnailMethod: 'crop',
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 10,
            maxFiles: 10,
        })

        document.getElementById('upload-schematic-btn').addEventListener("click", async function (e) {
            let titleElement = document.getElementById("schematic-title")
            let descriptionElement = document.getElementById("tinymce-schematic")
            document.getElementById("upload-schematic-btn").disabled = true

            let errors = []

            const formData = new FormData();
            for (let file of dropzoneSchematic.files) {
                formData.append("schematic_file", file)
            }
            for (let file of dropzoneFeatured.files) {
                formData.append("featured_image", file)
            }
            for (let file of dropzoneGallery.files) {
                formData.append("gallery", file)
            }
            formData.append("title", titleElement.value)
            formData.append("author", pb.authStore.model.id)
            formData.append("description", tinyMCE.activeEditor.getContent())
            formData.append("categories", document.getElementById("schematic-category").value)
            let tagIDs = getSelectValues(document.getElementById("select-tags"))
            for (const tid of tagIDs) {
                formData.append("tags", tid)
            }
            formData.append("createmod_version", document.getElementById("create-version").value)
            formData.append("minecraft_version", document.getElementById("minecraft-version").value)
            formData.append("video", document.getElementById("video").value)

            if (titleElement.value === undefined || titleElement.value === "") {
                titleElement.classList.add("is-invalid")
                div = document.createElement('div');
                div.classList.add("invalid-feedback")
                div.innerText = "A schematic must have a title"
                errors.push("A schematic must have a title")
                titleElement.parentNode.insertAdjacentElement("beforeend", div)
            }
            if (descriptionElement === undefined || tinyMCE.activeEditor === null || tinyMCE.activeEditor.getContent() === "") {
                descriptionElement.classList.add("is-invalid")
                div = document.createElement('div');
                div.classList.add("invalid-feedback")
                div.innerText = "A schematic must have a description"
                errors.push("A schematic must have a description")
                descriptionElement.parentNode.insertAdjacentElement("beforeend", div)
            }
            if (dropzoneSchematic.files.length === 0) {
                div = document.createElement('div');
                div.classList.add("invalid-feedback")
                div.style.display = "block"
                div.innerText = "A schematic must have a schematic file"
                errors.push("A schematic must have a schematic file")
                document.getElementById("dropzone-schematic").parentNode.insertAdjacentElement("beforeend", div)
            }
            if (dropzoneFeatured.files.length === 0) {
                div = document.createElement('div');
                div.classList.add("invalid-feedback")
                div.style.display = "block"
                div.innerText = "A schematic must have a featured image"
                errors.push("A schematic must have a featured image")
                document.getElementById("dropzone-featured").parentNode.insertAdjacentElement("beforeend", div)
            }

            if (errors.length === 0) {
                let progressBar = document.getElementById("progress-upload")
                let successAlert = document.getElementById("upload-success")
                try {
                    progressBar.style.display = "block"
                    progressBar.classList.add("progress-bar-indeterminate")
                const createdRecord = await pb.collection('schematics').create(formData);
                if (createdRecord.code !== undefined && createdRecord.code !== 200) {
                    div = document.createElement('div');
                    div.classList.add("invalid-feedback")
                    div.style.display = "block"
                    div.innerText = "An unexpected error occurred, please try again"
                    document.getElementById("upload-schematic-btn").parentNode.insertAdjacentElement("beforeend", div)
                    document.getElementById("upload-schematic-btn").disabled = false
                    progressBar.classList.remove("progress-bar-indeterminate")
                    progressBar.display = "none"
                } else {
                    progressBar.classList.remove("progress-bar-indeterminate")
                    progressBar.style.display = "none"
                    successAlert.style.display = "block"
                }
                } catch(e) {
                    console.log(e)
                    div = document.createElement('div');
                    div.classList.add("invalid-feedback")
                    div.style.display = "block"
                    div.innerText = "An unexpected error occurred, please try again"
                    document.getElementById("upload-schematic-btn").parentNode.insertAdjacentElement("beforeend", div)
                    document.getElementById("upload-schematic-btn").disabled = false
                    progressBar.classList.remove("progress-bar-indeterminate")
                    progressBar.display = "none"
                }
            } else {
                div = document.createElement('div');
                div.classList.add("invalid-feedback")
                div.style.display = "block"
                div.innerText = "There were errors, please check above"
                document.getElementById("upload-schematic-btn").parentNode.insertAdjacentElement("beforeend", div)
                document.getElementById("upload-schematic-btn").disabled = false
            }

        });

        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i=0, iLen=options.length; i<iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        }
    })
</script>
{{template "foot.html" .}}
