<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="/about" class="link-secondary">About</a></li>
                    <li class="list-inline-item"><a href="/terms-of-service" class="link-secondary">Terms Of Service</a></li>
                    <li class="list-inline-item"><a href="https://github.com/uberswe/createmod" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2024
                        <a href="https://createmod.com" class="link-secondary">CreateMod.com</a>.
                        All rights reserved.
                    </li>
                </ul>
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        NOT APPROVED BY OR ASSOCIATED WITH MOJANG OR MICROSOFT.
                    </li>
                </ul>
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        This site is <b>NOT</b> associated with the Create mod dev team.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>