<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col d-none d-lg-block">
                <div class="page-pretitle">
                    {{ .SubCategory }}
                </div>
                <h2 class="page-title">
                    {{ .Title }}
                </h2>
            </div>
            <div class="col">
                <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                    <form action="/" method="get" autocomplete="off" novalidate>
                        <div class="input-icon">
                    <span class="input-icon-addon">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                           stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                           stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                              d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/><path d="M21 21l-6 -6"/></svg>
                    </span>
                            <input type="text" value="" class="form-control" placeholder="Search…"
                                   aria-label="Search in website">
                        </div>
                    </form>
                </div>

            </div>
            <div class="col d-none d-lg-block auth-dropdown">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                       aria-label="Open user menu">
                        <span class="avatar auth-dropdown avatar-sm auth-avatar" style="background-image: url(./static/avatars/000m.jpg)"></span>
                        <div class="d-none d-xl-block ps-2">
                            <div class="auth-username">username</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="/profile" class="dropdown-item">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a href="/settings" class="dropdown-item">Settings</a>
                        <a class="dropdown-item logout-button">Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>