<a href="/schematics/{{ .Name }}" class="d-block">
    <div class="card card-sm">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    {{ .Title }}
                </div>
            </div>
        </div>
        <img loading="lazy" src="/api/files/schematics/{{ .ID }}/{{ .FeaturedImage }}?thumb=640x480"
             class="card-img">
        <div class="card-footer">
            <div class="row">
                <div class="col">{{ .CreatemodVersion }}</div>
                <div class="col">{{ .MinecraftVersion }}</div>
                <div class="col-auto">
                    {{ range .Categories }}
                    <span class="badge badge-outline text-blue">{{ .Name }}</span>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</a>