@import "@tabler/core/dist/css/tabler.min.css";
@import "dropzone/dist/dropzone.css";
@import url('https://rsms.me/inter/inter.css');

:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

:root,
[data-bs-theme=light] {
    --tblr-blue: #bf9045;
    --tblr-indigo: #4263eb;
    --tblr-purple: #ae3ec9;
    --tblr-pink: #d6336c;
    --tblr-red: #d63939;
    --tblr-orange: #f76707;
    --tblr-yellow: #f59f00;
    --tblr-green: #2fb344;
    --tblr-teal: #d1ac56;
    --tblr-cyan: #17a2b8;
    --tblr-black: #000000;
    --tblr-white: #ffffff;
    --tblr-gray: #49566c;
    --tblr-gray-dark: #353838;
    --tblr-gray-100: #eef3f6;
    --tblr-gray-200: #dce1e7;
    --tblr-gray-300: #b8c4d4;
    --tblr-gray-400: #8a97ab;
    --tblr-gray-500: #6c7a91;
    --tblr-gray-600: #49566c;
    --tblr-gray-700: #3a4859;
    --tblr-gray-800: #353838;
    --tblr-gray-900: #040a11;
    --tblr-primary: #bf9045;
    --tblr-secondary: #6c7a91;
    --tblr-success: #2fb344;
    --tblr-info: #4299e1;
    --tblr-warning: #f76707;
    --tblr-danger: #d63939;
    --tblr-light: #f6f8fb;
    --tblr-dark: #353838;
    --tblr-muted: #6c7a91;
    --tblr-blue: #bf9045;
    --tblr-azure: #4299e1;
    --tblr-indigo: #4263eb;
    --tblr-purple: #ae3ec9;
    --tblr-pink: #d6336c;
    --tblr-red: #d63939;
    --tblr-orange: #f76707;
    --tblr-yellow: #f59f00;
    --tblr-lime: #74b816;
    --tblr-green: #2fb344;
    --tblr-teal: #d1ac56;
    --tblr-cyan: #17a2b8;
    --tblr-x: #000000;
    --tblr-facebook: #1877f2;
    --tblr-twitter: #1da1f2;
    --tblr-linkedin: #0a66c2;
    --tblr-google: #dc4e41;
    --tblr-youtube: #ff0000;
    --tblr-vimeo: #1ab7ea;
    --tblr-dribbble: #ea4c89;
    --tblr-github: #181717;
    --tblr-instagram: #e4405f;
    --tblr-pinterest: #bd081c;
    --tblr-vk: #6383a8;
    --tblr-rss: #ffa500;
    --tblr-flickr: #0063dc;
    --tblr-bitbucket: #0052cc;
    --tblr-tabler: #bf9045;
    --tblr-primary-rgb: 6, 111, 209;
    --tblr-secondary-rgb: 108, 122, 145;
    --tblr-success-rgb: 47, 179, 68;
    --tblr-info-rgb: 66, 153, 225;
    --tblr-warning-rgb: 247, 103, 7;
    --tblr-danger-rgb: 214, 57, 57;
    --tblr-light-rgb: 246, 248, 251;
    --tblr-dark-rgb: 24, 36, 51;
    --tblr-muted-rgb: 108, 122, 145;
    --tblr-blue-rgb: 191, 144, 69;
    --tblr-azure-rgb: 66, 153, 225;
    --tblr-indigo-rgb: 66, 99, 235;
    --tblr-purple-rgb: 174, 62, 201;
    --tblr-pink-rgb: 214, 51, 108;
    --tblr-red-rgb: 214, 57, 57;
    --tblr-orange-rgb: 247, 103, 7;
    --tblr-yellow-rgb: 245, 159, 0;
    --tblr-lime-rgb: 116, 184, 22;
    --tblr-green-rgb: 47, 179, 68;
    --tblr-teal-rgb: 209, 172, 86;
    --tblr-cyan-rgb: 23, 162, 184;
    --tblr-x-rgb: 0, 0, 0;
    --tblr-facebook-rgb: 24, 119, 242;
    --tblr-twitter-rgb: 29, 161, 242;
    --tblr-linkedin-rgb: 10, 102, 194;
    --tblr-google-rgb: 220, 78, 65;
    --tblr-youtube-rgb: 255, 0, 0;
    --tblr-vimeo-rgb: 26, 183, 234;
    --tblr-dribbble-rgb: 234, 76, 137;
    --tblr-github-rgb: 24, 23, 23;
    --tblr-instagram-rgb: 228, 64, 95;
    --tblr-pinterest-rgb: 189, 8, 28;
    --tblr-vk-rgb: 99, 131, 168;
    --tblr-rss-rgb: 255, 165, 0;
    --tblr-flickr-rgb: 0, 99, 220;
    --tblr-bitbucket-rgb: 0, 82, 204;
    --tblr-tabler-rgb: 6, 111, 209;
    --tblr-primary-text-emphasis: #022c54;
    --tblr-secondary-text-emphasis: #2b313a;
    --tblr-success-text-emphasis: #13481b;
    --tblr-info-text-emphasis: #1a3d5a;
    --tblr-warning-text-emphasis: #632903;
    --tblr-danger-text-emphasis: #561717;
    --tblr-light-text-emphasis: #3a4859;
    --tblr-dark-text-emphasis: #3a4859;
    --tblr-primary-bg-subtle: #cde2f6;
    --tblr-secondary-bg-subtle: #e2e4e9;
    --tblr-success-bg-subtle: #d5f0da;
    --tblr-info-bg-subtle: #d9ebf9;
    --tblr-warning-bg-subtle: #fde1cd;
    --tblr-danger-bg-subtle: #f7d7d7;
    --tblr-light-bg-subtle: #f7f9fb;
    --tblr-dark-bg-subtle: #8a97ab;
    --tblr-primary-border-subtle: #9bc5ed;
    --tblr-secondary-border-subtle: #c4cad3;
    --tblr-success-border-subtle: #ace1b4;
    --tblr-info-border-subtle: #b3d6f3;
    --tblr-warning-border-subtle: #fcc29c;
    --tblr-danger-border-subtle: #efb0b0;
    --tblr-light-border-subtle: #dce1e7;
    --tblr-dark-border-subtle: #6c7a91;
    --tblr-white-rgb: 255, 255, 255;
    --tblr-black-rgb: 0, 0, 0;
    --tblr-font-sans-serif:    "Inter Var", Inter, -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    --tblr-font-monospace:  Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --tblr-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --tblr-body-font-family: var(--tblr-font-sans-serif);
    --tblr-body-font-size: 0.875rem;
    --tblr-body-font-weight: 400;
    --tblr-body-line-height: 1.4285714286;
    --tblr-body-color: #353838;
    --tblr-body-color-rgb: 24, 36, 51;
    --tblr-body-bg: #f6f8fb;
    --tblr-body-bg-rgb: 246, 248, 251;
    --tblr-emphasis-color: #3a4859;
    --tblr-emphasis-color-rgb: 58, 72, 89;
    --tblr-secondary-color: rgba(24, 36, 51, 0.75);
    --tblr-secondary-color-rgb: 24, 36, 51;
    --tblr-secondary-bg: #dce1e7;
    --tblr-secondary-bg-rgb: 220, 225, 231;
    --tblr-tertiary-color: rgba(24, 36, 51, 0.5);
    --tblr-tertiary-color-rgb: 24, 36, 51;
    --tblr-tertiary-bg: #eef3f6;
    --tblr-tertiary-bg-rgb: 238, 243, 246;
    --tblr-heading-color: inherit;
    --tblr-link-color: #bf9045;
    --tblr-link-color-rgb: 191, 144, 69;
    --tblr-link-decoration: none;
    --tblr-link-hover-color: #db9423;
    --tblr-link-hover-color-rgb: 219, 148, 35;
    --tblr-link-hover-decoration: none;
    --tblr-code-color: var(--tblr-gray-600);
    --tblr-highlight-color: #353838;
    --tblr-highlight-bg: #fdeccc;
    --tblr-border-width: 1px;
    --tblr-border-style: solid;
    --tblr-border-color: #dce1e7;
    --tblr-border-color-translucent: rgba(4, 32, 69, 0.1);
    --tblr-border-radius: 4px;
    --tblr-border-radius-sm: 2px;
    --tblr-border-radius-lg: 8px;
    --tblr-border-radius-xl: 1rem;
    --tblr-border-radius-xxl: 2rem;
    --tblr-border-radius-2xl: var(--tblr-border-radius-xxl);
    --tblr-border-radius-pill: 100rem;
    --tblr-box-shadow: rgba(var(--tblr-body-color-rgb), 0.04) 0 2px 4px 0;
    --tblr-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --tblr-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --tblr-box-shadow-inset: 0 0 transparent;
    --tblr-focus-ring-width: 0.25rem;
    --tblr-focus-ring-opacity: 0.25;
    --tblr-focus-ring-color: rgba(var(--tblr-primary-rgb), 0.25);
    --tblr-form-valid-color: #2fb344;
    --tblr-form-valid-border-color: #2fb344;
    --tblr-form-invalid-color: #d63939;
    --tblr-form-invalid-border-color: #d63939;
}

[data-bs-theme=dark], body[data-bs-theme=dark] [data-bs-theme=light] {
    color-scheme: dark;
    --tblr-body-color: #dce1e7;
    --tblr-body-color-rgb: 220, 225, 231;
    --tblr-body-bg: #040a11;
    --tblr-body-bg-rgb: 4, 10, 17;
    --tblr-emphasis-color: #ffffff;
    --tblr-emphasis-color-rgb: 255, 255, 255;
    --tblr-secondary-color: rgba(219, 196, 143, 0.75);
    --tblr-secondary-color-rgb: 219, 196, 143;
    --tblr-secondary-rgb: 189, 140, 62;
    --tblr-secondary-bg: #353838;
    --tblr-secondary-bg-rgb: 24, 36, 51;
    --tblr-tertiary-color: rgba(219, 196, 143, 0.5);
    --tblr-tertiary-color-rgb: 219, 196, 143;
    --tblr-tertiary-bg: #2d3030;
    --tblr-tertiary-bg-rgb: 14, 23, 34;
    --tblr-primary-text-emphasis: #6aa9e3;
    --tblr-secondary-text-emphasis: #a7afbd;
    --tblr-success-text-emphasis: #82d18f;
    --tblr-info-text-emphasis: #8ec2ed;
    --tblr-warning-text-emphasis: #faa46a;
    --tblr-danger-text-emphasis: #e68888;
    --tblr-light-text-emphasis: #eef3f6;
    --tblr-dark-text-emphasis: #b8c4d4;
    --tblr-primary-bg-subtle: #01162a;
    --tblr-secondary-bg-subtle: #16181d;
    --tblr-success-bg-subtle: #09240e;
    --tblr-info-bg-subtle: #0d1f2d;
    --tblr-warning-bg-subtle: #311501;
    --tblr-danger-bg-subtle: #2b0b0b;
    --tblr-light-bg-subtle: #353838;
    --tblr-dark-bg-subtle: #0c121a;
    --tblr-primary-border-subtle: #04437d;
    --tblr-secondary-border-subtle: #414957;
    --tblr-success-border-subtle: #1c6b29;
    --tblr-info-border-subtle: #285c87;
    --tblr-warning-border-subtle: #943e04;
    --tblr-danger-border-subtle: #802222;
    --tblr-light-border-subtle: #3a4859;
    --tblr-dark-border-subtle: #353838;
    --tblr-heading-color: inherit;
    --tblr-link-color: #6aa9e3;
    --tblr-link-hover-color: #88bae9;
    --tblr-link-hover-color-rgb: 219, 148, 35;
    --tblr-link-hover-decoration: none;
    --tblr-link-color-rgb: 191, 144, 69;
    --tblr-code-color: var(--tblr-gray-300);
    --tblr-highlight-color: #dce1e7;
    --tblr-highlight-bg: #624000;
    --tblr-btn-hover-bg: #bd8c3e;
    --tblr-border-color: #b38439;
    --tblr-border-color-translucent: rgba(72, 110, 149, 0.14);
    --tblr-form-valid-color: #82d18f;
    --tblr-form-valid-border-color: #82d18f;
    --tblr-form-invalid-color: #e68888;
    --tblr-form-invalid-border-color: #e68888;
}

body {
    font-feature-settings: "cv03", "cv04", "cv11";
}

.card-actions {
    margin: -.5rem -.5rem -.5rem auto;
    padding-left: .5rem;
}

.dz-progress {
    /* progress bar covers file name */
    display: none !important;
}

.form-select {
    --tblr-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%238a97ab' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: 0.4375rem 2.25rem 0.4375rem 0.75rem;
    font-family: var(--tblr-font-sans-serif);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: var(--tblr-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--tblr-bg-forms);
    background-image: var(--tblr-form-select-bg-img), var(--tblr-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--tblr-border-width) solid var(--tblr-border-color);
    border-radius: var(--tblr-border-radius);
    box-shadow: var(--tblr-box-shadow-input);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-select {
        transition: none;
    }
}
.form-select:focus {
    border-color: #83b7e8;
    outline: 0;
    box-shadow: var(--tblr-box-shadow-input), 0 0 0 0.25rem rgba(var(--tblr-primary-rgb), 0.25);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
}
.form-select:disabled {
    background-color: var(--tblr-bg-surface-secondary);
}
.form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--tblr-body-color);
}

.form-select-sm {
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
    padding-left: 0.25rem;
    font-size: 0.75rem;
    border-radius: var(--tblr-border-radius-sm);
}

.form-select-lg {
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.5rem;
    font-size: 1.25rem;
    border-radius: var(--tblr-border-radius-lg);
}

[data-bs-theme=dark] .form-select, body[data-bs-theme=dark] [data-bs-theme=light] .form-select {
    --tblr-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dce1e7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}


.footer {
    border-top: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    background-color: #ffffff;
    padding: 2rem 0;
    color: var(--tblr-gray-500);
    margin-top: auto;
}

.footer-transparent {
    background-color: transparent;
    border-top: 0;
}

body:not(.theme-dark):not([data-bs-theme=dark]) .hide-theme-light {
    display: none !important;
}
body:not(.theme-dark):not([data-bs-theme=dark]) .img-dark {
    display: none !important;
}
body.theme-dark .hide-theme-dark, body[data-bs-theme=dark] .hide-theme-dark {
    display: none !important;
}
body.theme-dark .img-light, body[data-bs-theme=dark] .img-light {
    display: none !important;
}

[data-bs-theme=dark], body[data-bs-theme=dark] [data-bs-theme=light] {
    --tblr-body-color: #dce1e7;
    --tblr-body-color-rgb: 220, 225, 231;
    --tblr-muted: #49566c;
    --tblr-body-bg: #1f2121;
    --tblr-body-bg-rgb: 21, 31, 44;
    --tblr-emphasis-color: #ffffff;
    --tblr-emphasis-color-rgb: 255, 255, 255;
    --tblr-bg-forms: #1f2121;
    --tblr-bg-surface: #353838;
    --tblr-bg-surface-dark: #1f2121;
    --tblr-bg-surface-secondary: #3d4040;
    --tblr-bg-surface-tertiary: #1f2121;
    --tblr-link-color: #ab813d;
    --tblr-link-hover-color: #bf9045;
    --tblr-active-bg: #3d4040;
    --tblr-disabled-color: var(--tblr-gray-700);
    --tblr-border-color: var(--tblr-dark-mode-border-color);
    --tblr-border-color-translucent: var(
            --tblr-dark-mode-border-color-translucent
    );
    --tblr-border-dark-color: var(--tblr-dark-mode-border-dark-color);
    --tblr-border-active-color: var(
            --tblr-dark-mode-border-active-color
    );
    --tblr-btn-color: #1f2121;
    --tblr-code-color: var(--tblr-body-color);
    --tblr-code-bg: #1f2e41;
    --tblr-primary-lt: #162c43;
    --tblr-primary-lt-rgb: 22, 44, 67;
    --tblr-secondary-lt: #202d3c;
    --tblr-secondary-lt-rgb: 32, 45, 60;
    --tblr-success-lt: #1a3235;
    --tblr-success-lt-rgb: 26, 50, 53;
    --tblr-info-lt: #1c3044;
    --tblr-info-lt-rgb: 28, 48, 68;
    --tblr-warning-lt: #2e2b2f;
    --tblr-warning-lt-rgb: 46, 43, 47;
    --tblr-danger-lt: #2b2634;
    --tblr-danger-lt-rgb: 43, 38, 52;
    --tblr-light-lt: #2e3947;
    --tblr-light-lt-rgb: 46, 57, 71;
    --tblr-dark-lt: #353838;
    --tblr-dark-lt-rgb: 24, 36, 51;
    --tblr-muted-lt: #202d3c;
    --tblr-muted-lt-rgb: 32, 45, 60;
    --tblr-blue-lt: #162c43;
    --tblr-blue-lt-rgb: 22, 44, 67;
    --tblr-azure-lt: #1c3044;
    --tblr-azure-lt-rgb: 28, 48, 68;
    --tblr-indigo-lt: #1c2a45;
    --tblr-indigo-lt-rgb: 28, 42, 69;
    --tblr-purple-lt: #272742;
    --tblr-purple-lt-rgb: 39, 39, 66;
    --tblr-pink-lt: #2b2639;
    --tblr-pink-lt-rgb: 43, 38, 57;
    --tblr-red-lt: #2b2634;
    --tblr-red-lt-rgb: 43, 38, 52;
    --tblr-orange-lt: #2e2b2f;
    --tblr-orange-lt-rgb: 46, 43, 47;
    --tblr-yellow-lt: #2e302e;
    --tblr-yellow-lt-rgb: 46, 48, 46;
    --tblr-lime-lt: #213330;
    --tblr-lime-lt-rgb: 33, 51, 48;
    --tblr-green-lt: #1a3235;
    --tblr-green-lt-rgb: 26, 50, 53;
    --tblr-teal-lt: #17313a;
    --tblr-teal-lt-rgb: 23, 49, 58;
    --tblr-cyan-lt: #183140;
    --tblr-cyan-lt-rgb: 24, 49, 64;
    --tblr-x-lt: #16202e;
    --tblr-x-lt-rgb: 22, 32, 46;
    --tblr-facebook-lt: #182c46;
    --tblr-facebook-lt-rgb: 24, 44, 70;
    --tblr-twitter-lt: #193146;
    --tblr-twitter-lt-rgb: 25, 49, 70;
    --tblr-linkedin-lt: #172b41;
    --tblr-linkedin-lt-rgb: 23, 43, 65;
    --tblr-google-lt: #2c2834;
    --tblr-google-lt-rgb: 44, 40, 52;
    --tblr-youtube-lt: #2f202e;
    --tblr-youtube-lt-rgb: 47, 32, 46;
    --tblr-vimeo-lt: #183345;
    --tblr-vimeo-lt-rgb: 24, 51, 69;
    --tblr-dribbble-lt: #2d283c;
    --tblr-dribbble-lt-rgb: 45, 40, 60;
    --tblr-github-lt: #182330;
    --tblr-github-lt-rgb: 24, 35, 48;
    --tblr-instagram-lt: #2c2737;
    --tblr-instagram-lt-rgb: 44, 39, 55;
    --tblr-pinterest-lt: #292131;
    --tblr-pinterest-lt-rgb: 41, 33, 49;
    --tblr-vk-lt: #202e3f;
    --tblr-vk-lt-rgb: 32, 46, 63;
    --tblr-rss-lt: #2f312e;
    --tblr-rss-lt-rgb: 47, 49, 46;
    --tblr-flickr-lt: #162a44;
    --tblr-flickr-lt-rgb: 22, 42, 68;
    --tblr-bitbucket-lt: #162942;
    --tblr-bitbucket-lt-rgb: 22, 41, 66;
    --tblr-tabler-lt: #162c43;
    --tblr-tabler-lt-rgb: 22, 44, 67;
}
[data-bs-theme=dark] .navbar-brand-autodark .navbar-brand-image {
    filter: brightness(0) invert(1);
}

:root,
:host,
[data-bs-theme=light] {
    --tblr-primary: #bf9045;
    --tblr-primary-rgb: 191, 144, 69;
    --tblr-primary-fg: var(--tblr-light);
    --tblr-primary-darken: #bd8c3e;
    --tblr-primary-lt: #e6f1fa;
    --tblr-primary-lt-rgb: 230, 241, 250;
    --tblr-secondary: #6c7a91;
    --tblr-secondary-rgb: 108, 122, 145;
    --tblr-secondary-fg: var(--tblr-light);
    --tblr-secondary-darken: #616e83;
    --tblr-secondary-lt: #f0f2f4;
    --tblr-secondary-lt-rgb: 240, 242, 244;
    --tblr-success: #2fb344;
    --tblr-success-rgb: 47, 179, 68;
    --tblr-success-fg: var(--tblr-light);
    --tblr-success-darken: #2aa13d;
    --tblr-success-lt: #eaf7ec;
    --tblr-success-lt-rgb: 234, 247, 236;
    --tblr-info: #4299e1;
    --tblr-info-rgb: 66, 153, 225;
    --tblr-info-fg: var(--tblr-light);
    --tblr-info-darken: #3b8acb;
    --tblr-info-lt: #ecf5fc;
    --tblr-info-lt-rgb: 236, 245, 252;
    --tblr-warning: #f76707;
    --tblr-warning-rgb: 247, 103, 7;
    --tblr-warning-fg: var(--tblr-light);
    --tblr-warning-darken: #de5d06;
    --tblr-warning-lt: #fef0e6;
    --tblr-warning-lt-rgb: 254, 240, 230;
    --tblr-danger: #d63939;
    --tblr-danger-rgb: 214, 57, 57;
    --tblr-danger-fg: var(--tblr-light);
    --tblr-danger-darken: #c13333;
    --tblr-danger-lt: #fbebeb;
    --tblr-danger-lt-rgb: 251, 235, 235;
    --tblr-light: #f6f8fb;
    --tblr-light-rgb: 246, 248, 251;
    --tblr-light-fg: var(--tblr-dark);
    --tblr-light-darken: #dddfe2;
    --tblr-light-lt: #fefeff;
    --tblr-light-lt-rgb: 254, 254, 255;
    --tblr-dark: #182433;
    --tblr-dark-rgb: 24, 36, 51;
    --tblr-dark-fg: var(--tblr-light);
    --tblr-dark-darken: #16202e;
    --tblr-dark-lt: #e8e9eb;
    --tblr-dark-lt-rgb: 232, 233, 235;
    --tblr-muted: #6c7a91;
    --tblr-muted-rgb: 108, 122, 145;
    --tblr-muted-fg: var(--tblr-light);
    --tblr-muted-darken: #616e83;
    --tblr-muted-lt: #f0f2f4;
    --tblr-muted-lt-rgb: 240, 242, 244;
    --tblr-blue: #bf9045;
    --tblr-blue-rgb: 191, 144, 69;
    --tblr-blue-fg: var(--tblr-light);
    --tblr-blue-darken: #bd8c3e;
    --tblr-blue-lt: #e6f1fa;
    --tblr-blue-lt-rgb: 230, 241, 250;
    --tblr-azure: #4299e1;
    --tblr-azure-rgb: 66, 153, 225;
    --tblr-azure-fg: var(--tblr-light);
    --tblr-azure-darken: #3b8acb;
    --tblr-azure-lt: #ecf5fc;
    --tblr-azure-lt-rgb: 236, 245, 252;
    --tblr-indigo: #4263eb;
    --tblr-indigo-rgb: 66, 99, 235;
    --tblr-indigo-fg: var(--tblr-light);
    --tblr-indigo-darken: #3b59d4;
    --tblr-indigo-lt: #eceffd;
    --tblr-indigo-lt-rgb: 236, 239, 253;
    --tblr-purple: #ae3ec9;
    --tblr-purple-rgb: 174, 62, 201;
    --tblr-purple-fg: var(--tblr-light);
    --tblr-purple-darken: #9d38b5;
    --tblr-purple-lt: #f7ecfa;
    --tblr-purple-lt-rgb: 247, 236, 250;
    --tblr-pink: #d6336c;
    --tblr-pink-rgb: 214, 51, 108;
    --tblr-pink-fg: var(--tblr-light);
    --tblr-pink-darken: #c12e61;
    --tblr-pink-lt: #fbebf0;
    --tblr-pink-lt-rgb: 251, 235, 240;
    --tblr-red: #d63939;
    --tblr-red-rgb: 214, 57, 57;
    --tblr-red-fg: var(--tblr-light);
    --tblr-red-darken: #c13333;
    --tblr-red-lt: #fbebeb;
    --tblr-red-lt-rgb: 251, 235, 235;
    --tblr-orange: #f76707;
    --tblr-orange-rgb: 247, 103, 7;
    --tblr-orange-fg: var(--tblr-light);
    --tblr-orange-darken: #de5d06;
    --tblr-orange-lt: #fef0e6;
    --tblr-orange-lt-rgb: 254, 240, 230;
    --tblr-yellow: #f59f00;
    --tblr-yellow-rgb: 245, 159, 0;
    --tblr-yellow-fg: var(--tblr-light);
    --tblr-yellow-darken: #dd8f00;
    --tblr-yellow-lt: #fef5e6;
    --tblr-yellow-lt-rgb: 254, 245, 230;
    --tblr-lime: #74b816;
    --tblr-lime-rgb: 116, 184, 22;
    --tblr-lime-fg: var(--tblr-light);
    --tblr-lime-darken: #68a614;
    --tblr-lime-lt: #f1f8e8;
    --tblr-lime-lt-rgb: 241, 248, 232;
    --tblr-green: #2fb344;
    --tblr-green-rgb: 47, 179, 68;
    --tblr-green-fg: var(--tblr-light);
    --tblr-green-darken: #2aa13d;
    --tblr-green-lt: #eaf7ec;
    --tblr-green-lt-rgb: 234, 247, 236;
    --tblr-teal: #d1ac56;
    --tblr-teal-rgb: 209, 172, 86;
    --tblr-teal-fg: var(--tblr-light);
    --tblr-teal-darken: #b89546;
    --tblr-teal-lt: #e7f6f2;
    --tblr-teal-lt-rgb: 231, 246, 242;
    --tblr-cyan: #17a2b8;
    --tblr-cyan-rgb: 23, 162, 184;
    --tblr-cyan-fg: var(--tblr-light);
    --tblr-cyan-darken: #1592a6;
    --tblr-cyan-lt: #e8f6f8;
    --tblr-cyan-lt-rgb: 232, 246, 248;
    --tblr-x: #000000;
    --tblr-x-rgb: 0, 0, 0;
    --tblr-x-fg: var(--tblr-light);
    --tblr-x-darken: black;
    --tblr-x-lt: #e6e6e6;
    --tblr-x-lt-rgb: 230, 230, 230;
    --tblr-facebook: #1877f2;
    --tblr-facebook-rgb: 24, 119, 242;
    --tblr-facebook-fg: var(--tblr-light);
    --tblr-facebook-darken: #166bda;
    --tblr-facebook-lt: #e8f1fe;
    --tblr-facebook-lt-rgb: 232, 241, 254;
    --tblr-twitter: #1da1f2;
    --tblr-twitter-rgb: 29, 161, 242;
    --tblr-twitter-fg: var(--tblr-light);
    --tblr-twitter-darken: #1a91da;
    --tblr-twitter-lt: #e8f6fe;
    --tblr-twitter-lt-rgb: 232, 246, 254;
    --tblr-linkedin: #0a66c2;
    --tblr-linkedin-rgb: 10, 102, 194;
    --tblr-linkedin-fg: var(--tblr-light);
    --tblr-linkedin-darken: #095caf;
    --tblr-linkedin-lt: #e7f0f9;
    --tblr-linkedin-lt-rgb: 231, 240, 249;
    --tblr-google: #dc4e41;
    --tblr-google-rgb: 220, 78, 65;
    --tblr-google-fg: var(--tblr-light);
    --tblr-google-darken: #c6463b;
    --tblr-google-lt: #fcedec;
    --tblr-google-lt-rgb: 252, 237, 236;
    --tblr-youtube: #ff0000;
    --tblr-youtube-rgb: 255, 0, 0;
    --tblr-youtube-fg: var(--tblr-light);
    --tblr-youtube-darken: #e60000;
    --tblr-youtube-lt: #ffe6e6;
    --tblr-youtube-lt-rgb: 255, 230, 230;
    --tblr-vimeo: #1ab7ea;
    --tblr-vimeo-rgb: 26, 183, 234;
    --tblr-vimeo-fg: var(--tblr-light);
    --tblr-vimeo-darken: #17a5d3;
    --tblr-vimeo-lt: #e8f8fd;
    --tblr-vimeo-lt-rgb: 232, 248, 253;
    --tblr-dribbble: #ea4c89;
    --tblr-dribbble-rgb: 234, 76, 137;
    --tblr-dribbble-fg: var(--tblr-light);
    --tblr-dribbble-darken: #d3447b;
    --tblr-dribbble-lt: #fdedf3;
    --tblr-dribbble-lt-rgb: 253, 237, 243;
    --tblr-github: #181717;
    --tblr-github-rgb: 24, 23, 23;
    --tblr-github-fg: var(--tblr-light);
    --tblr-github-darken: #161515;
    --tblr-github-lt: #e8e8e8;
    --tblr-github-lt-rgb: 232, 232, 232;
    --tblr-instagram: #e4405f;
    --tblr-instagram-rgb: 228, 64, 95;
    --tblr-instagram-fg: var(--tblr-light);
    --tblr-instagram-darken: #cd3a56;
    --tblr-instagram-lt: #fcecef;
    --tblr-instagram-lt-rgb: 252, 236, 239;
    --tblr-pinterest: #bd081c;
    --tblr-pinterest-rgb: 189, 8, 28;
    --tblr-pinterest-fg: var(--tblr-light);
    --tblr-pinterest-darken: #aa0719;
    --tblr-pinterest-lt: #f8e6e8;
    --tblr-pinterest-lt-rgb: 248, 230, 232;
    --tblr-vk: #6383a8;
    --tblr-vk-rgb: 99, 131, 168;
    --tblr-vk-fg: var(--tblr-light);
    --tblr-vk-darken: #597697;
    --tblr-vk-lt: #eff3f6;
    --tblr-vk-lt-rgb: 239, 243, 246;
    --tblr-rss: #ffa500;
    --tblr-rss-rgb: 255, 165, 0;
    --tblr-rss-fg: var(--tblr-light);
    --tblr-rss-darken: #e69500;
    --tblr-rss-lt: #fff6e6;
    --tblr-rss-lt-rgb: 255, 246, 230;
    --tblr-flickr: #0063dc;
    --tblr-flickr-rgb: 0, 99, 220;
    --tblr-flickr-fg: var(--tblr-light);
    --tblr-flickr-darken: #0059c6;
    --tblr-flickr-lt: #e6effc;
    --tblr-flickr-lt-rgb: 230, 239, 252;
    --tblr-bitbucket: #0052cc;
    --tblr-bitbucket-rgb: 0, 82, 204;
    --tblr-bitbucket-fg: var(--tblr-light);
    --tblr-bitbucket-darken: #004ab8;
    --tblr-bitbucket-lt: #e6eefa;
    --tblr-bitbucket-lt-rgb: 230, 238, 250;
    --tblr-tabler: #066fd1;
    --tblr-tabler-rgb: 6, 111, 209;
    --tblr-tabler-fg: var(--tblr-light);
    --tblr-tabler-darken: #0564bc;
    --tblr-tabler-lt: #e6f1fa;
    --tblr-tabler-lt-rgb: 230, 241, 250;
    --tblr-gray-50: #f6f8fb;
    --tblr-gray-50-rgb: 246, 248, 251;
    --tblr-gray-50-fg: var(--tblr-dark);
    --tblr-gray-50-darken: #dddfe2;
    --tblr-gray-50-lt: #fefeff;
    --tblr-gray-50-lt-rgb: 254, 254, 255;
    --tblr-gray-100: #eef3f6;
    --tblr-gray-100-rgb: 238, 243, 246;
    --tblr-gray-100-fg: var(--tblr-dark);
    --tblr-gray-100-darken: #d6dbdd;
    --tblr-gray-100-lt: #fdfefe;
    --tblr-gray-100-lt-rgb: 253, 254, 254;
    --tblr-gray-200: #dce1e7;
    --tblr-gray-200-rgb: 220, 225, 231;
    --tblr-gray-200-fg: var(--tblr-dark);
    --tblr-gray-200-darken: #c6cbd0;
    --tblr-gray-200-lt: #fcfcfd;
    --tblr-gray-200-lt-rgb: 252, 252, 253;
    --tblr-gray-300: #b8c4d4;
    --tblr-gray-300-rgb: 184, 196, 212;
    --tblr-gray-300-fg: var(--tblr-light);
    --tblr-gray-300-darken: #a6b0bf;
    --tblr-gray-300-lt: #f8f9fb;
    --tblr-gray-300-lt-rgb: 248, 249, 251;
    --tblr-gray-400: #8a97ab;
    --tblr-gray-400-rgb: 138, 151, 171;
    --tblr-gray-400-fg: var(--tblr-light);
    --tblr-gray-400-darken: #7c889a;
    --tblr-gray-400-lt: #f3f5f7;
    --tblr-gray-400-lt-rgb: 243, 245, 247;
    --tblr-gray-500: #6c7a91;
    --tblr-gray-500-rgb: 108, 122, 145;
    --tblr-gray-500-fg: var(--tblr-light);
    --tblr-gray-500-darken: #616e83;
    --tblr-gray-500-lt: #f0f2f4;
    --tblr-gray-500-lt-rgb: 240, 242, 244;
    --tblr-gray-600: #49566c;
    --tblr-gray-600-rgb: 73, 86, 108;
    --tblr-gray-600-fg: var(--tblr-light);
    --tblr-gray-600-darken: #424d61;
    --tblr-gray-600-lt: #edeef0;
    --tblr-gray-600-lt-rgb: 237, 238, 240;
    --tblr-gray-700: #3a4859;
    --tblr-gray-700-rgb: 58, 72, 89;
    --tblr-gray-700-fg: var(--tblr-light);
    --tblr-gray-700-darken: #344150;
    --tblr-gray-700-lt: #ebedee;
    --tblr-gray-700-lt-rgb: 235, 237, 238;
    --tblr-gray-800: #182433;
    --tblr-gray-800-rgb: 24, 36, 51;
    --tblr-gray-800-fg: var(--tblr-light);
    --tblr-gray-800-darken: #16202e;
    --tblr-gray-800-lt: #e8e9eb;
    --tblr-gray-800-lt-rgb: 232, 233, 235;
    --tblr-gray-900: #040a11;
    --tblr-gray-900-rgb: 4, 10, 17;
    --tblr-gray-900-fg: var(--tblr-light);
    --tblr-gray-900-darken: #04090f;
    --tblr-gray-900-lt: #e6e7e7;
    --tblr-gray-900-lt-rgb: 230, 231, 231;
    --tblr-spacer-0: 0;
    --tblr-spacer-1: 0.25rem;
    --tblr-spacer-2: 0.5rem;
    --tblr-spacer-3: 1rem;
    --tblr-spacer-4: 1.5rem;
    --tblr-spacer-5: 2rem;
    --tblr-spacer-6: 2.5rem;
    --tblr-spacer: 1rem;
    --tblr-bg-surface: var(--tblr-white);
    --tblr-bg-surface-secondary: var(--tblr-gray-100);
    --tblr-bg-surface-tertiary: var(--tblr-gray-50);
    --tblr-bg-surface-dark: var(--tblr-dark);
    --tblr-bg-forms: var(--tblr-bg-surface);
    --tblr-border-color: #dce1e7;
    --tblr-border-color-translucent: rgba(4, 32, 69, 0.1);
    --tblr-border-dark-color: #8a97ab;
    --tblr-border-dark-color-translucent: rgba(4, 32, 69, 0.27);
    --tblr-border-active-color: #aab2bf;
    --tblr-icon-color: var(--tblr-gray-400);
    --tblr-active-bg: rgba(var(--tblr-primary-rgb), 0.04);
    --tblr-disabled-bg: var(--tblr-bg-surface-secondary);
    --tblr-disabled-color: var(--tblr-gray-300);
    --tblr-code-color: var(--tblr-gray-600);
    --tblr-code-bg: var(--tblr-bg-surface-secondary);
    --tblr-dark-mode-border-color: #b38439;
    --tblr-dark-mode-border-color-translucent: rgba(189, 140, 62, 0.14);
    --tblr-dark-mode-border-active-color: #bd8c3e;
    --tblr-dark-mode-border-dark-color: #b38439;
    --tblr-page-padding: var(--tblr-spacer-3);
    --tblr-page-padding-y: var(--tblr-spacer-4);
    --tblr-font-weight-light: 300;
    --tblr-font-weight-normal: 400;
    --tblr-font-weight-medium: 500;
    --tblr-font-weight-bold: 600;
    --tblr-font-weight-black: 700;
    --tblr-font-weight-headings: var(--tblr-font-weight-bold);
    --tblr-font-size-h1: 1.5rem;
    --tblr-font-size-h2: 1.25rem;
    --tblr-font-size-h3: 1rem;
    --tblr-font-size-h4: 0.875rem;
    --tblr-font-size-h5: 0.75rem;
    --tblr-font-size-h6: 0.625rem;
    --tblr-line-height-h1: 2rem;
    --tblr-line-height-h2: 1.75rem;
    --tblr-line-height-h3: 1.5rem;
    --tblr-line-height-h4: 1.25rem;
    --tblr-line-height-h5: 1rem;
    --tblr-line-height-h6: 1rem;
    --tblr-box-shadow: rgba(var(--tblr-body-color-rgb), 0.04) 0 2px 4px 0;
    --tblr-box-shadow-border: inset 0 0 0 1px var(--tblr-border-color-translucent);
    --tblr-box-shadow-transparent: 0 0 0 0 transparent;
    --tblr-box-shadow-input: 0 1px 1px rgba(var(--tblr-body-color-rgb), 0.06);
    --tblr-box-shadow-card: 0 0 4px rgba(var(--tblr-body-color-rgb), 0.04);
    --tblr-box-shadow-card-hover: rgba(var(--tblr-body-color-rgb), 0.16) 0 2px 16px 0;
    --tblr-box-shadow-dropdown: 0 16px 24px 2px rgba(0, 0, 0, 0.07), 0 6px 30px 5px rgba(0, 0, 0, 0.06), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

.card a:hover {
    text-decoration: none;
}